@tailwind base;
@tailwind components;
@tailwind utilities;

input:not([type="text"])
     :not([type="checkbox"])
     :not([type="radio"])
     :not([type="date"]),
  textarea,
  select,
  button {
    border-radius: 0;
    -webkit-appearance: none; 
    appearance: none;
  }