@tailwind base;
@tailwind components;
@tailwind utilities;

  input:not([type="checkbox"]):not([type="radio"]):not([type="date"]),
  textarea,
  select,
  button {
    border-radius: 0;
    -webkit-appearance: none; 
    appearance: none;
  }

  @media (pointer: coarse) {
    .dnd-element {
      touch-action: manipulation;
    }
    
    button {
      -webkit-tap-highlight-color: transparent;
    }
    
    .dnd-element button {
      z-index: 20;
      position: relative;
    }
  }